.sidebar {
    p,
    li {
        font-size: .65em;
    }
}
.page__footer-follow {
    li {
        font-size: .60em;
    }
    a {
        font-weight: unset;
    }
}
.page__footer-copyright {
    font-size: .60em;
}
.fa-search {
    color: #fff;
}
